*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
/*generics */
.border{
    border: 2px dashed black;
}
.container{
    max-width:1400px;
    margin:0px auto;
}
footer{
    background-color: black;
    height: 50px;
}
.view{
    height:40px;
    background-color: #000;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 50px;  
}
main{
    height:calc(100vh - 90px);
    overflow: auto;
}
img{
    display:block;
    max-width: 100%;
}
.card{
    width: 200px;
    flex-shrink: 1;
}
.text{
    left:0;
    bottom:10px;
}
/* utils */
.relative{
    position:relative;
    flex-basis:calc((100%  - 20)  / 7); 
}
.absolute{
    position: absolute;
    left: 4px;
    bottom: 5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 5px;
    font-size: 10px;
}